:root{
  --hero-bg-color: #FAF2EE;
  --showcase-bg: radial-gradient(50% 50% at 50% 50%, rgba(247, 248, 249, 0) 0%, #F7F8F9 100%);;
  --footer-bg: radial-gradient(50% 50% at 50% 50%, rgba(42, 51, 66, 0) 0%, #2F2F2F 100%);

  --badge-bg-color: #DCFCE7;
  --badge-text-color: #FF932F;

  --icon-bg: linear-gradient(189.52deg, #FFB571 -10.41%, #FA7800 106.43%); 
  --card-bg-color: #F7F8F9;
  
  --primary-color: #7745E0;
  --secondary-color: #FF932F;

  --primary-text-color: #2A3342;
  --secondary-text-color: rgba(35, 32, 42, 0.6);
}

*{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}