@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(171, 171, 171, 0);
  --secondary: #ff932f;
}

body {
  overflow: hidden;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.active {
  background: rgba(255, 147, 47, 0.2);
  color: #ff932f;
  fill: #ff932f;
}

.gradient {
  background: linear-gradient(189.52deg, #ffb571 -10.41%, #fa7800 106.43%);
}

.ant-segmented-item {
  padding: 3px 25px;
}

.ant-segmented-item-selected {
  background: #ff932f !important;
  color: white !important;
  padding: 3px 25px;
}

