/* :root {
  --hero-bg-color: #faf2ee;
  --showcase-bg: radial-gradient(
    50% 50% at 50% 50%,
    rgba(247, 248, 249, 0) 0%,
    #f7f8f9 100%
  );
  --footer-bg: radial-gradient(
    50% 50% at 50% 50%,
    rgba(42, 51, 66, 0) 0%,
    #2f2f2f 100%
  );

  --badge-bg-color: #dcfce7;
  --badge-text-color: #ff932f;

  --icon-bg: linear-gradient(189.52deg, #ffb571 -10.41%, #fa7800 106.43%);
  --card-bg-color: #f7f8f9;

  --primary-color: #7745e0;
  --secondary-color: #ff932f;

  --primary-text-color: #2a3342;
  --secondary-text-color: rgba(35, 32, 42, 0.6);
}

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.contanier{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--hero-bg-color);
}

.header__link-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--primary-text-color);
}

.header__btn{
  border-radius: 24px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: var(--secondary-color);
  color: var(--hero-bg-color);
} */

@tailwind base;
@tailwind components;
@tailwind utilities;